#logo-img {
  object-fit: cover;
  margin: 1px;
  width: 60px;
  height: 60px;
}

.header-container {
  width: 100%;
  //max-height: 80px;
  height: 10vh;
  background: var(--dark-blue);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  color: var(--main-white);
}

#calculate-link {
  font-size: 20px;
  text-decoration: none;
  color: var(--main-white);
}
