.loan_calculation_page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.form-container {
  //margin-left: 10%;
  padding: 30px;
  padding-bottom: 50px;
  display: flex;
  column-gap: 20px;
  justify-content: left;
  align-items: center;
  font-size: 30px;
  background-color: var(--light-blue);
  color: var(--main-white);
  min-height: 100%;
  min-width: 30%;
}

.calculation-container{
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: var(--main-purple);
  color: var(--main-white);
  min-height: 100%;
  min-width: 30%;

}
.calc-text{
  z-index: 2;
}

.pie-container{
  margin-right: 5%;
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: var(--light-blue);
  color: var(--main-white);
  min-height: 100%;
  min-width: 30%;
}


.loan_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  h1 {
    font-size: 32px;
    z-index: 2;
    font-weight: 500;
    padding-bottom: 16px;
  }
}

mat-error {
  line-height: 0;
  font-size: 14px;
}

.loan_form_btn_box {
  padding-top: 28px;
  display: flex;
  gap: 40px;
  > * {
    border-radius: 16px;
    padding: 16px;
  }
  .btn-calc {
    background-color: var(--main-white);
    color: var(--main-purple);
  }
  .btn-reset {
    background-color: var(--main-purple);
    color: var(--main-white);
  }
}

@media (max-width: 520px) {
  .loan_calculation_page {
    align-items: center;
    justify-content: center;
  }
  .form-container {
    margin-left: 0;
    min-width: 90%;
  }
}

// .form-container label {
//   width: 150px;
//   text-align: right;
//   margin-right: 10px;
// }

// .form-container input[type="text"] {
//   width: 200px;
//   padding: 8px;
//   border: 2px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   font-family: Arial, sans-serif;
//   font-size: 16px;
//   color: #333;
// }

// .form-container input[type="text"]:focus {
//   outline: none;
//   border-color: #2196F3;
//   box-shadow: 0 0 8px 0 rgba(33, 150, 243, 0.4);
// }

// form{
//   color: #FFFFFF;
//   z-index: 2;
// }
// .button-area {

//   padding-top: 32px;
//   display: flex;
//   gap: 42px;
//   > * {
//     border-radius: 16px;
//     padding: 16px;
//   }
//   .calc-button {
//     background-color: #6750a4;
//     color: #ffffff;
//   }
//   .reset-button {
//     background-color: #ffffff;
//     color: #6750a4;
//   }
// }

// .error-message-text{
//   padding: 5px;
//   color: red;
//   font-size: 12px;
// }

// input[type="text"] {
//   padding: 8px;
//   border: 2px solid #ccc;
//   border-radius: 4px;
//   box-sizing: border-box;
//   font-family: Arial, sans-serif;
//   font-size: 16px;
//   color: #333;
// }

// input[type="text"]:focus {
//   outline: none;
//   border-color: #2196F3;
//   box-shadow: 0 0 8px 0 rgba(33, 150, 243, 0.4);
// }
