.loan_calculation_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  align-items: center;
  // overflow-y: scroll;
  overflow-x: hidden;
  margin-inline: auto;
  background-color: rgb(164, 209, 233, 0.8);
}

.form-container {
  padding: 70px 30px 50px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  min-width: min(33%, 60em);
  height: 100%;
}

.loan_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  h1 {
    font-size: 32px;
    z-index: 2;
    font-weight: 500;
    padding-bottom: 16px;
    color: var(--navy-blue);
  }
}

.calculation-container {
  padding: 30px 30px 50px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--main-white);
  height: 100%;
  min-width: min(40%, 65em);
}

.calc-text {
  margin-top: 50px;
  z-index: 2;
  font-size: 14px;
  width: 90%;
  font-weight: 400;
}

mat-error {
  line-height: 0;
  font-size: 14px;
}

.loan_form_btn_box {
  padding-top: 28px;
  display: flex;
  gap: 40px;
}

.text-group {
  display: flex;
  justify-content: space-between;
}

.imp-text {
  order: 1;
  font-size: 18px;
  color: #ffffff;
  color: var(--dark-green);
}
.amount {
  color: var(--black);
  font-size: 16px;
  order: 2;
}

@media (min-width: 900px) {
  .loan_calculation_page {
    flex-direction: row;
    overflow-y: hidden;

    .form-container {
      width: 49%;
    }
    .vl {
      width: 1%;
    }
    .calculation-container {
      width: 50%;
    }
  }
  .vl {
    border-left: 1px solid var(--black);
    height: 500px;
  }
  .calc-text {
    width: 70%;
  }
}
