<div class="container">
  <div class="img_box">
    <img class="bg_img" src="assets/img/landing_img_figma.jpeg" alt="img"/>
<form class="loanForm" >
<h1>Submit your Loan Details</h1>
  <fieldset>
    <div>
      <label for="totalAmount">Total Amount:</label>
      <input type="text" formControlName = "totalAmount" id = "totalAmount">
    </div>
    <br>
    <div>
      <label for="downPayment">Down Payment:</label>
      <input type="text" formControlName = "downPayment" id = "downPayment">
    </div>
    <br>
    <div>
      <label for="termYears">Term Years: </label>
      <input type="text" formControlName = "termYears" id = "termYears">
    </div>
  </fieldset>
</form>
  </div>
</div>
