<div class="container">
  <div class="img_box">
    <img class="bg_img" [src]="landingImgUrl" />
    <div class="landing_page_info">
      <h1 class="landing_page_title">Your <span>home</span> - your rules</h1>
      <h2 class="landing_page_description">
        Expand your options with <span>Alt-F4</span> housing loan
      </h2>
      <div class="landing_page_btn_box">
        <button
          mat-raised-button
          color="accent"
          class="btn-apply"
          routerLink="/apply"
        >
          Apply For Loan
        </button>
        <button
          mat-raised-button
          color="accent"
          class="btn-calc"
          routerLink="/loan"
        >
          Calculate Mortgage
        </button>
      </div>
    </div>
  </div>
</div>
