<div class="landing_page_container">
  <div class="landing_hero_img_box">
    <img class="landing_hero_img" [src]="landingImgUrl" />
  </div>
  <p class="landing_description">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quo libero,
    fugiat possimus delectus ducimus deserunt harum et optio facilis voluptates,
    ab perferendis molestias officiis minus. Tempora repellat ratione
    aspernatur?
  </p>
  <!-- <button mat-stroked-button color="primary">Calculator</button> -->
  <button mat-raised-button color="accent">Calculator</button>
</div>
