.landing_page_info {
  opacity: 1;
  z-index: 2;
  padding-left: 84px;
  padding-top: 250px;
  width: 60%;
  display: flex;
  flex-direction: column;
  color: var(--main-white);
}

.landing_info_bg {
  width: 80%;
  padding: 40px;
}

.landing_page_title {
  opacity: 1;
  font-weight: 700;
  font-size: 70px;
  line-height: 72px;
  padding-bottom: 10px;
  letter-spacing: -1px;

  .home {
    color: var(--dark-green);
  }
  span {
    letter-spacing: 0.2rem;
  }
}

.landing_page_description {
  font-size: 52px;
  line-height: 62px;
  font-weight: 400;
  letter-spacing: -0.5px;

  span {
    font-weight: 700;
  }
}

.landing_page_btn_box {
  padding-top: 40px;
  display: flex;
  gap: 42px;
  > * {
    padding: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  .btn-apply {
    background-color: var(--dark-green);
    color: var(--main-white);
  }
  .btn-calc {
    background-color: var(--main-white);
    color: var(--dark-green);
  }
}

@media (max-width: 1270px) {
  .landing_page_info {
    padding-top: 170px;
  }
  .landing_page_title {
    font-size: 60px;
  }
  .landing_page_description {
    font-size: 42px;
  }
}

@media (max-width: 1160px) {
  .landing_page_info {
    width: 70%;
  }
  .landing_page_title {
    font-size: 56px;
    line-height: 62px;
  }
  .landing_page_description {
    font-size: 42px;
    line-height: 48px;
  }
}

@media (max-width: 1000px) {
  .landing_page_info {
    padding-top: 160px;
  }
  .landing_page_btn_box {
    > * {
      padding: 18px;
      font-weight: 500;
      font-size: 16px;
    }
  }
}

@media (max-width: 920px) {
  .landing_page_info {
    padding-left: 42px;
    width: 80%;
  }
  .landing_page_title {
    font-size: 48px;
    line-height: 56px;
  }
  .landing_page_description {
    font-size: 36px;
    line-height: 42px;
  }
}

@media (max-width: 750px) {
  .landing_page_info {
    padding-top: 100px;
  }
  .landing_page_title {
    font-size: 48px;
  }
  .landing_page_description {
    font-size: 36px;
  }
  .landing_page_btn_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    > * {
      max-width: 200px;
    }
  }
}

@media (max-width: 660px) {
  .landing_page_info {
    padding-top: 100px;
    width: 90%;
  }
  .landing_info_bg {
    width: 100%;
  }
  .landing_page_title {
    font-size: 48px;
  }
}

@media (max-width: 490px) {
  .landing_page_info {
    padding-top: 100px;
    width: 100%;
  }
  .landing_info_bg {
    width: 100%;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .img_box {
    justify-content: center;
  }
  .landing_page_info {
    padding-top: 80px;
    padding-left: 24px;
    width: 90%;
  }
  .landing_info_bg {
    width: 100%;
    padding: 0;
  }
  .landing_page_description {
    font-size: 32px;
  }
}
