<div class="landing_page_container">
  <div class="landing_img_box">
    <img class="landing_bg_img" [src]="landingImgUrl" />
    <div class="landing_page_info">
      <h1 class="landing_page_title">Your <span>home</span> - your rules</h1>
      <h2 class="landing_page_description">
        Expand your options with <span>Generic housing loan</span>
      </h2>
      <!-- <button mat-stroked-button color="primary">Calculator</button> -->
      <div class="landing_page_btn_box">
        <button mat-raised-button color="accent" class="btn-apply">
          Apply For Loan
        </button>
        <button mat-raised-button color="accent" class="btn-calc">
          Calculate Mortgage
        </button>
      </div>
    </div>
  </div>
</div>
