mat-tab-group {
  width: 80%;
}

@media (max-width: 1200px) {
  mat-tab-group {
    width: 90%;
  }
}

@media (max-width: 500px) {
  mat-tab-group {
    width: 100%;
  }

  ::ng-deep .mat-mdc-tab.mdc-tab {
    padding: 0;
    min-width: 50%;
    font-size: 15px;
  }
}

@media (max-width: 340px) {
  ::ng-deep .mat-mdc-tab.mdc-tab {
    padding: 0;
    min-width: 50%;
    font-size: 12px;
  }
}
