.container-application-form {
  width: 100%;
  background-color: rgb(164, 209, 233, 0.8);
  opacity: 0.8;
}

.form-container {
  padding: 100px;
  padding-bottom: 50px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--main-white);
  min-height: 80%;
  width: 60%;
}

.application_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 80%;

  h1 {
    font-size: 32px;
    z-index: 2;
    font-weight: 500;
    padding: 24px 0 0 24px;
    color: var(--dark-green);
  }
}

.form-section {
  display: flex;
  flex-direction: column;
}

.section-label {
  color: var(--dark-green);
}

.date_picker {
  width: 100%;
}

.percentage {
  font-size: 16px;
  color: var(--dark-blue);
}

.down_payment_field {
  display: flex;
  gap: 16px;
  align-items: center;
}

.application_form_btn_box {
  padding-top: 28px;
  display: flex;
  gap: 40px;
  > * {
    border-radius: 16px;
    padding: 16px;
  }
  .btn-submit {
    background-color: var(--main-white);
    color: var(--main-purple);
  }
  .btn-reset {
    background-color: var(--main-purple);
    color: var(--main-white);
  }
}
.ng-star-inserted {
  font-size: 16px;
  line-height: 1.5;
}

.mat-mdc-form-field-error {
  display: flex !important;
  align-items: center !important;
  padding-top: 4px;
  line-height: 1 !important;
}

::ng-deep .mat-mdc-button .mat-mdc-button-ripple,
.mat-mdc-button .mat-mdc-button-persistent-ripple,
.mat-mdc-button .mat-mdc-button-persistent-ripple::before,
.mat-mdc-unelevated-button .mat-mdc-button-ripple,
.mat-mdc-unelevated-button .mat-mdc-button-persistent-ripple,
.mat-mdc-unelevated-button .mat-mdc-button-persistent-ripple::before,
.mat-mdc-raised-button .mat-mdc-button-ripple,
.mat-mdc-raised-button .mat-mdc-button-persistent-ripple,
.mat-mdc-raised-button .mat-mdc-button-persistent-ripple::before,
.mat-mdc-outlined-button .mat-mdc-button-ripple,
.mat-mdc-outlined-button .mat-mdc-button-persistent-ripple,
.mat-mdc-outlined-button .mat-mdc-button-persistent-ripple::before {
  background-color: var(--bright-green);
}

::ng-deep .mat-mdc-button {
  margin-right: 8px;
}

::ng-deep .mat-mdc-form-field-error {
  padding-top: 0px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px whitesmoke inset !important;
}

@media (max-width: 1600px) {
  .form-container {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .form-container {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .form-container {
    padding: 40px;
    width: 90%;
  }
  .application_form {
    h1 {
      font-size: 28px;
      padding: 24px 0 0 12px;
      text-align: center;
    }
  }
  ::ng-deep
    .mat-mdc-text-field-wrapper
    .mat-mdc-form-field-infix
    .mat-mdc-floating-label {
    font-size: 12px !important;
  }
  ::ng-deep .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: 14px !important;
  }
  ::ng-deep .mat-mdc-select-value {
    font-size: 14px !important;
  }
}

@media (max-width: 500px) {
  .form-container {
    padding: 20px 5px 5px 5px;
  }
  .container-application-form {
    height: auto;
  }
}
