.admin-container {
  padding: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--main-white);
  min-height: 80%;
  width: 60%;
}

.sort-box {
  display: flex;
  gap: 16px;
  padding-bottom: 16px;
  h5 {
    color: var(--navy-blue);
  }
  button {
    padding: 4px 6px;
    border-radius: 4px;
  }
}

mat-icon {
  font-size: 30px;
}

.approved {
  color: var(--bright-green);
}
.denied {
  color: var(--red);
}

.status-box {
  display: flex;
  gap: 6px;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  vertical-align: middle;
}

.mat-mdc-table .mdc-data-table__row {
  font-size: 20px;
}

.mat-column-date {
  min-width: 180px;
}

@media (max-width: 1600px) {
  .admin-container {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  .admin-container {
    width: 80%;
  }
}

@media (max-width: 850px) {
  .admin-container {
    padding: 40px;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .admin-container {
    padding: 20px 5px 5px 5px;
  }
}
