.submitted-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--dark-green);
  width: 100%;
  background-color: rgb(164, 209, 233, 0.8);
  opacity: 0.8;
}

@media (max-width: 500px) {
  .submitted-container {
    justify-content: flex-start;
    padding: 100px 20px 0 20px;
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 20px;
    }
  }
}
