/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img_box {
    min-height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #242424;
    display: flex;

    .bg_img {
      opacity: 0.28;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

  /* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


//@media (max-width: 1240px) {
//  .landing_page_container {
//    .landing_img_box {
//      .landing_page_info {
//        padding-top: 200px;
//
//        .landing_page_title {
//          font-size: 56px;
//        }
//        .landing_page_description {
//          font-size: 42px;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 1100px) {
//  .landing_page_container {
//    .landing_img_box {
//      .landing_page_info {
//        width: 70%;
//        .landing_page_title {
//          font-size: 56px;
//          line-height: 62px;
//        }
//        .landing_page_description {
//          font-size: 42px;
//          line-height: 48px;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 950px) {
//  .landing_page_container {
//    .landing_img_box {
//      .landing_page_info {
//        padding-top: 160px;
//      }
//    }
//  }
//}
//
//@media (max-width: 830px) {
//  .landing_page_container {
//    .landing_img_box {
//      .landing_page_info {
//        padding-left: 42px;
//        width: 80%;
//        .landing_page_title {
//          font-size: 48px;
//          line-height: 56px;
//        }
//        .landing_page_description {
//          font-size: 36px;
//          line-height: 42px;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 730px) {
//  .landing_page_container {
//    .landing_img_box {
//      .landing_page_info {
//        padding-top: 100px;
//        .landing_page_title {
//          font-size: 48px;
//        }
//        .landing_page_description {
//          font-size: 36px;
//        }
//      }
//    }
//  }
//}
//
//@media (max-width: 660px) {
//  .landing_page_container {
//    .landing_img_box {
//      .landing_page_info {
//        padding-top: 100px;
//        .landing_page_title {
//          font-size: 48px;
//        }
//        .landing_page_description {
//          font-size: 36px;
//        }
//        .landing_page_btn_box {
//          padding-top: 8px;
//          display: flex;
//          flex-direction: column;
//          gap: 12px;
//          > * {
//            border-radius: 16px;
//            padding: 16px;
//          }
//          .btn-apply {
//            background-color: #6750a4;
//            color: #ffffff;
//          }
//          .btn-calc {
//            background-color: #ffffff;
//            color: #6750a4;
//          }
//        }
//      }
//    }
//  }
//}
//
