@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --main-purple: #4f378b;
  --main-white: #ffffff;
  --light-blue: #a4d1e9;
  --dark-blue: #196ab4;
  --sea-green: #00aeb3;
  --green: #a2d729;
  --dark-green: 30692c;
  --black: #0f1923;
  --navy-blue: #0f1923;
  --light-blue: #a4d1e9;
  --teal: #00aeb3;
  --bright-green: #a2d729;
  --dark-green: #30692c;

}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img_box {
    min-height: 80vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #242424;
    display: flex;

    .bg_img {
      opacity: 0.28;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
    }
  }
}
