@import "./theme";
html,
body {
  height: 100%;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

:root {
  --main-purple: #4f378b;
  --main-white: #ffffff;
  --light-blue: #a4d1e9;
  --dark-blue: #196ab4;
  --sea-green: #00aeb3;
  --green: #a2d729;
  --dark-green: #30692c;
  --black: #0f1923;
  --navy-blue: #164a7e;
  --light-blue: #a4d1e9;
  --teal: #00aeb3;
  --bright-green: #a2d729;
  --dark-green: #30692c;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;

  .img_box {
    min-height: 85vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #242424;
    display: flex;

    .bg_img {
      opacity: 0.28;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
    }
  }
}

.spinner-7 {
  width: 50px;
  aspect-ratio: 1;
  --_c: radial-gradient(farthest-side, #a2d729 92%, #0000);
  background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s7 1s infinite;
}
@keyframes s7 {
  to {
    transform: rotate(0.5turn);
  }
}
