.max_calculation_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: hidden;
  margin-inline: auto;
  background-color: rgb(164, 209, 233, 0.8);
}

.form-container {
  padding: 30px 30px 50px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  color: var(--main-white);
  min-width: min(33%, 60em);
  height: 100%;
}

.max_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;

  h1 {
    font-size: 32px;
    z-index: 2;
    font-weight: 500;
    padding-bottom: 16px;
  }
}

@media (min-width: 900px) {
  .max_calculation_page {
    flex-direction: row;
    overflow-y: hidden;
  }
  .vl {
    border-left: 1px solid var(--black);
    height: 500px;
  }
}

.max_amount_img {
  height: 100px;
  width: auto;
}

.calc-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

mat-error {
  line-height: 0;
  font-size: 14px;
}

.max_form_btn_box {
  padding-top: 28px;
  display: flex;
  gap: 32px;
}

.text-group {
  display: flex;
  justify-content: space-between;
}

.imp-text {
  order: 1;
  font-size: 18px;
  color: #ffffff;
}

@media (max-width: 500px) {
  .form-container {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
